/* EB Garamond https://fonts.google.com/specimen/EB+Garamond
               https://bitbucket.org/georgd/eb-garamond/downloads/

	Note: if using this with PrinceXML:
	Prince enables certain opentype features by default
	(https://www.princexml.com/doc-prince/#opentype-features).
	This results in an italic e with a swash. You can avoid this
	by turning off all defaults but liga:
	em { font-variant: prince-opentype(liga); }

 */

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-Regular.ttf);
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-Italic.ttf);
	font-style: italic;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-SemiBoldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-ExtraBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: "EB Garamond";
	src: url(../fonts/EBGaramond-ExtraBoldItalic.ttf);
	font-weight: 800;
	font-style: italic;
}