/* Mulish https://fonts.google.com/specimen/Mulish */

@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-ExtraLight.ttf);
	font-weight: 200;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-ExtraLightItalic.ttf);
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-LightItalic.ttf);
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-Italic.ttf);
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-MediumItalic.ttf);
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-SemiBoldItalic.ttf);
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-Bold.ttf);
	font-weight: 700;
    font-weight: bold;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-BoldItalic.ttf);
	font-style: italic;
	font-weight: 700;
    font-weight: bold;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-ExtraBold.ttf);
	font-weight: 800;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-ExtraBoldItalic.ttf);
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-Black.ttf);
	font-weight: 900;
}
@font-face {
	font-family: "Mulish";
	src: url(../fonts/Mulish-BlackItalic.ttf);
	font-style: italic;
	font-weight: 900;
}
