/* Platypi https://fonts.google.com/specimen/Platypi */

@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-Regular.ttf);
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Platypi";
    src: url(../fonts/Platypi-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
