/* Roboto Condensed https://fonts.google.com/specimen/Roboto+Condensed */
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
